<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"><link>
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1>
<h2 class="color-azul">Aplicando estilos css en recursos estaticos </h2>
<img th:src="@{/imagenes/logoista.png}">
<table th:if="${usuarios.size()>0}" border="1" align="center"  cellspacing="0">
    <thead>
    <th bgcolor="yellow">Nombre</th>
    <th bgcolor="yellow">Apellido</th>
    <th bgcolor="yellow">Email</th>
    </thead>
    <tbody>
    <tr th:each="usuario: ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellido}"></td>
        <td th:text="${usuario.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>