<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recibir parametros del request HTTP GET - URL </title>
</head>
<body>
<h1>Recibir parametros del request HTTP GET - URL  </h1>
<ul>
  <li>
    <a th:href="@{/params/string(texto='Que tal Baby')}">/params/string?texto=Que tal Bebe</a>
  </li>
  <li>
    <a th:href="@{/params/string(texto='Que tal Mijitrin')}">/params/string?texto=Que tal Mijitrin</a>
  </li>
  <li>
    <a th:href="@{/params/mix-params(saludo='Que bueno verte Danny', numero=22)}">/params/mix-params?saludo= Que bueno verte Danny&numero=22</a>
  </li>
</ul>
</body>
</html>